streamlit
finance-datareader
pandas
yfinance
selenium
webdriver-manager
plotly
lxml
beautifulsoup4
html5lib
kaleido
telethon
google-genai
aiohttp
PyMuPDF
streamlit-autorefresh
streamlit-option-menu
