streamlit==1.55.0
finance-datareader
pykrx
pandas
yfinance
selenium
webdriver-manager
plotly
lxml
beautifulsoup4
html5lib
kaleido
telethon
google-genai
aiohttp
PyMuPDF
streamlit-autorefresh
streamlit-option-menu
streamlit-sortables
streamlit-aggrid==0.3.4.post3
PyGithub==2.1.1
