streamlit==1.55.0
finance-datareader
pandas
yfinance
plotly
lxml
beautifulsoup4
html5lib
telethon
google-genai
aiohttp
PyMuPDF
streamlit-autorefresh
streamlit-option-menu
streamlit-aggrid==0.3.4.post3
PyGithub==2.1.1
